.post {
  background-color: #fff;
  max-width: 540px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header,
.post__text {
  padding: 20px;
}
.post__header {
  display: flex;
  align-items: center;
}

.post__avatar {
  margin-right: 10px;
}

.post__text {
  font-weight: normal;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 20px;
}

.post__content {
  margin: 10px 0;
}

.post__input,
.post__button {
  border: 1px solid lightgray;
  outline: none;
}
.post__input {
  flex: 3;
  padding: 10px 5px;
}

.post__button {
  flex: 1;
  background-color: lightgray;
  margin-left: 10px;
}
